@import url('https://fonts.googleapis.com/css?family=Courgette&display=swap');

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
  color: black;
}

form div {
  margin: 1em;
  display: inline-block;
  background-color: white;
}

.heading {
  text-align: center;
  color: black;
}

.all-products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 100px;
  border-radius: 10px;
  margin: 10px;
}

.item {
  border: 1px;
  margin: 10px;
  border-radius: 5px;
  padding: 5px;
}

#page-title {
  font-family: 'Courgette', cursive;
  color: black;
  background-color: rgb(162, 36, 36);
}
