@import url('https://fonts.googleapis.com/css?family=Courgette&display=swap');

body {
  font-family: sans-serif;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
  color: black;
}

form div {
  margin: 1em;
  display: inline-block;
  background-color: white;
}

#page-title {
  font-family: Impact, fantasy;
  color: black;
  font-weight: bolder;
  font-size: 50px;
  border: -10px;
  margin: -10px;
  width: 102%;
  height: 89px;
  background: #c22323;
  padding-left: 15%;
  padding-top: 18px;
}

.all-products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1000px;
  border: 100px;
  border-radius: 10px;
  margin: 10px;
}

.all-products-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.all-images {
  height: 220px;
  width: 220px;
}

.all-album-title {
  color: black;
  font-size: 13px;
  font-family: sans-serif;
}
.all-artist {
  font-size: 13px;
  font-weight: normal;
  margin-bottom: 5px;
}

.all-price {
  font-size: 13px;
  font-weight: normal;
  color: grey;
  margin-bottom: 5px;
}

.item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 200px;
  align-items: flex-start;
  border: 10px;
  margin: 10px;
  border-radius: 10px;
  padding: 10px;
}

.single-album-container {
  display: flex;
  justify-content: center;
}

.single-album {
  display: flex;
  flex-direction: row;
  border: 10px;
  margin: 10px;
  border-radius: 10px;
  padding: 10px;
}

.single-image {
  margin: 22px;
}
.single-album-details {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 300px;
}
.single-title {
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
  margin-bottom: 10px;
}
.single-price {
  font-size: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
  color: grey;
  margin-bottom: 10px;
  border-bottom: grey;
  border-width: 5px;
  border-style: solid;
}
.single-artist {
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
  margin-bottom: 10px;
}
.single-genre {
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
  margin-bottom: 10px;
}

.single-description {
  font-size: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
  margin-bottom: 10px;
}

.buyButton {
  height: 38px;
  width: 90px;
  background-color: #d92829;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5%;
  margin-bottom: 10px;
}
