@import url('https://fonts.googleapis.com/css?family=Courgette&display=swap');

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.heading {
  text-align: center;
}

.all-products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 2px dotted black;
  border-radius: 10px;
  margin: 10px;
}

#page-title {
  font-family: 'Courgette', cursive;
}
